<!DOCTYPE html>

{% set title = title | default('The News / The Weather') %}

<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="icon" href="{{ url_for('static', filename="") }}">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
    var autocomplete;
    var autocomplete2;
    function initialize() {
    autocomplete = new google.maps.places.Autocomplete(
    /** @type {HTMLInputElement} */(document.getElementById('autocomplete')));
    autocomplete2 = new google.maps.places.Autocomplete(
    /** @type {HTMLInputElement} */(document.getElementById('autocomplete2')));
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
    });
    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
    });
    }
    </script>
    
    <style>
      
    </style>
  </head>
  <body onload="initialize()" data-spy="scroll" data-target="#myScrollspy" data-offset="10">
   
    <nav style="z-index: 9999 !important;" class="navbar navbar-inverse" data-spy="affix" data-offset-top="50">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
	  </button>
	  <a class="navbar-brand" href="{{ url_for('news') }}">Used Lancer Evo</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav navbar-left">
	    <li class="{{ newsactive }}">
	      <a href="/news">News</a>
	    </li>
	    <li class="{{ weatheractive }}">
	      <a href="/weather">Weather</a>
	    </li>
	  </ul>
	  
	</div>
      </div>
    </nav>
    <!--<div class="row content">
      <div class="col-sm-12">-->
	<div class="container-fluid">
	  {% with messages = get_flashed_messages() %}
	    {% if messages %}
	      {% for message in messages %}
		<div class="alert alert-info fade in alert-fixed-top">
		  <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  {{ message }}
		</div>
		
	      {% endfor %}
	    {% endif %}
	  {% endwith %}
	  {% block content %}{% endblock %}
	</div>
	{% block content_special %}{% endblock %}
      <!--</div>
    </div>-->
    <footer class="container-fluid text-center">
      <p>&copy; Team Used Lancer Evolution -- Version 1.0.0</p>
    </footer>
  </body>
</html>
