<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<br>
<center>
  <h4>{{ message }}</h4>
</center>
<br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-3 text-left">
    <div class="panel panel-default">
      <div class="panel-heading">
	<center>
	  <h4>Recent News</h4>
	</center>
      </div>
      <div class="panel-body">
	  {% for value in news %}
	      <a href='{{ value["urlToImage"] }}'> {{ value["title"] }}</a>
	      <br>
	      <i>By: </i>{{ value["author"] }} on <b> {{ value["publishedAt"] }} </b>
	    <br>
	    <hr>	    
	  {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-7 text-left">
    <div class="panel panel-default">
      <div class="panel-heading">
	<center>
	  <h4>Today's News</h4>
	</center>
      </div>
      <div class="panel-body">
	<table>
	  {% for value in news %}
	  <tr>
	    <td>
	      <div class="panel panel-default">
		<div class="panel-body">
		  <b>'{{ value["title"] }}'</b> - <i>Written by {{ value["author"] }} on <b>{{ value["publishedAt"] }}</b></i>
		  <br>
		  <br>
		  <img style="max-width:50%; max-height:50%;" src='{{ value["urlToImage"] }}'>
		  <br>
		  <br>
		  {{ value["description"]  }}...
		  <br>
		  <br>
		  <i><a href='{{ value["url"]  }}'>View News Article</a></i>
		</div>
	      </div>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
{% endblock %}

