<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<br>
<center>
  <h4>{{ message }}</h4>
</center>
<br>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<center>
	  <h2>Today's Weather for:</h2>
	  <br>
	  <h2>{{ current["time"] }}</h2>
	</center>
      </div>
      <div class="panel-body">
	<img src='{{ current["icon"] }}.png'>
	<br>
	<hr>
	<br>
	<h4><b>High: <i>{{ current["temperatureMax"] }} F</i></b></h4>
	<br>
	<h4><b>Low: <i>{{ current["temperatureMin"] }} F</i></b></h4>
	<br>
	<h4><b>Precipitation Chance: <i>{{ current["precipProbability"] }}</i></b></h4>
	<h4><b>Wind: <i>{{ current["windSpeed"] }} MPH, {{ current["windBearing"] }}</i></b></h4>
	<br>
	<br>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<center>
	  <h2>Seven Day Forecast</h2>
	</center>
      </div>
    </div>
    <div class="row" style="display: inline-block; float: none;">
      {% for day in weatherContent %}
      <div class="col-sm-1">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <center>
	      <h3>{{ weatherContent["time"] }}</h3>
	    </center>
	  </div>
	  <div class="panel-body">
	    <img src='{{ weatherContent["icon"] }}.png'>
	    <br>
	    <hr>
	    <br>
	    <h4><b>High: <i>{{ weatherContent["temperatureMax"] F}}</i></b></h4>
	    <br>
	    <h4><b>Low: <i>{{ weatherContent["temperatureMin"] F}}</i></b></h4>
	    <br>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
